
@{
    ViewData["Title"] = "Danh Sách Tính Năng";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Tính Năng Hệ Thống</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Tính Năng</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="card">
        <div class="card-header container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <h3 class="card-title col-8 col-md-11 m-0 p-0 mt-2">Danh Sách Tính Năng</h3>
                    <button  id="reloadButton" type="button" class="btn btn-success col-4 col-md-1" onclick="onReloadGrid('listFeature')">
                        <i class="fas fa-sync-alt h5 m-0 p-0"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body" style="height:700px; width:100%;">
            <div id="listFeature" style="height:700px; width:100%;"></div>
        </div>
    </div>
</section>

<script src="~/LTEplugins/jsgrid/jsgrid.min.js"></script>
<script>

    let features = [
        {
            id: 0,
            name: 'root'
        }
    ];

    $(document).ready(() => {
        getFeatures();
    });

    function getFeatures() {
        $.ajax({
            url: "@Url.Action("GetAllAsyncToList","Feature")",
            success: (respone) => {
                console.log(respone);
                features = [
                    {
                        id: 0,
                        name: 'root'
                    }];
                features = features.concat(respone);
            }
        }).done(() => {
            renderGrid();
        });
    }

    function renderGrid() {
        $("#listFeature").jsGrid({
            height: "100%",
            width: "100%",
            paging: true,
            autoload: true,
            pagerFormat: "Trang: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
            pagePrevText: "Trước",
            pageNextText: "Tiếp",
            pageNavigatorNextText: "...",
            pageNavigatorPrevText: "...",
            editing: true,
            inserting: true,
            deleteConfirm: "Bạn Có Chắc Muốn Xóa",
            reloadAfterSubmit: true,
            pageSize: 15,
            pageButtonCount: 5,
            controller: {
                loadData: function() {
                    var d = $.Deferred();
                    $.ajax({
                        type:"POST",
                        url: '@Url.Action("GetAllAsyncToList","Feature")'
                    }).done(function (response) {
                        console.log(response);
                        d.resolve(response);
                    });
                    return d.promise();
                },
                insertItem: function (item) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Create","Feature")',
                        data: item
                    }).done(function (respone) {
                        console.log(respone);
                        $.notify(respone.note, respone.messageType);
                        $("#reloadButton").trigger('click');
                        getFeatures();
                    });
                },
                updateItem: function (item) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Update","Feature")',
                        data: item
                    }).done(function (respone) {
                        console.log(respone);
                        $.notify(respone.note, respone.messageType);
                        $("#reloadButton").trigger('click');
                    });
                },
                deleteItem: function (item) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","Feature")',
                        data: item
                    }).done(function (respone) {
                        console.log(respone);
                        $.notify(respone.note, respone.messageType);
                        $("#reloadButton").trigger('click');
                    });
                }
            },

            fields: [
                { type: "control" },
                { name: "id", type: "number", title: "Id", width: 50, editing: false, inserting: false },
                { name: "name", type: "text", title: "Tên", width: 200 },
                { name: "parentFeatureID", type: "select", items: features, valueField: "id", textField: "name", title: "Cấp Trên", width: 200 },
                { name: "controller", type: "text", title: "Controller",width:100 },
                { name: "action", type: "text", title: "Action",width:100 },
                { name: "icon", type: "text", title: "Icon",width:100 },
                { name: "sortOrder", type: "number", title: "Thứ Tự",width:100 },
                { name: "isMenuLeft", type: "checkbox", title: "Menu Left", width: 80 },
                { name: "note", type: "text", title: "Ghi Chú",width:300 },
                { type: "control" }
            ]
        });
    };
</script>
