
@{
    ViewData["Title"] = "Phân Quyền Sàn Thương Mại";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}
@model VinaC2C.MVC.Models.DigitalShopRoleModel;
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Phân Quyền Cửa Hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Phân Quyền Sàn Thương Mại</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="card">
        <div class="card-header container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-12 mt-1">
                        <select id="UserID" class="form-control select2bs4" asp-for="@Model.UserID" asp-items="@Model.userOptions"></select>
                    </div>

                    <div class="col-md-8 col-sm-12 mt-1">
                        <div class="d-flex justify-content-between align-items-center">
                            <button id="searchButton" type="button" class="btn btn-success btn-large" style="flex-basis:20%;" onclick="onSearchUserDigitalShopRole()">
                                <i class="fas fa-search h5 m-0 p-0"></i>
                            </button>
                            <button id="initButton" type="button" class="btn btn-primary btn-large" style="flex-basis:20%;" onclick="onInitDigitalShopRole()">
                                <i class="fas fa-file-upload h5 m-0 p-0"></i>
                            </button>
                            <div style="flex-basis:35%;">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="checkboxPrimary3">
                                    <label for="checkboxPrimary3">
                                        Tất Cả
                                    </label>
                                </div>
                            </div>
                            <button id="initButton" type="button" class="btn btn-primary btn-large" style="flex-basis:20%;" onclick="onSaveChange()">
                                <i class="fas fa-save h5 m-0 p-0"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <h3 class="card-title mt-2">Danh Sách Cửa Hàng</h3>
                </div>
            </div>
        </div>
        <div class="card-body" style="height:700px;">
            <div id="listDigitalShopRole" style="height:700px;"></div>
        </div>
    </div>
</section>

<script src="~/LTEplugins/jsgrid/jsgrid.min.js"></script>
<script src="~/LTEplugins/select2/js/select2.full.min.js"></script>
<script>

    let digitalShopRoles = [];
    let digitalShops = [];

    $(document).ready(() => {
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        $("#UserID").on('change', () => {
            $("#searchButton").trigger('click');
        });

        $.ajax({
            url: "@Url.Action("GetAllAsyncToList","DigitalShop")",
            success: (respone) => {
                console.log(respone);
                digitalShops = respone;
            }
        }).done(() => {
            renderGrid();
        });
    });

    function renderGrid() {
        $("#listDigitalShopRole").jsGrid({
            height: "100%",
            width: "100%",
            paging: true,
            pagerFormat: "Trang: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
            pagePrevText: "Trước",
            pageNextText: "Tiếp",
            pageNavigatorNextText: "...",
            pageNavigatorPrevText: "...",
            editing: true,
            autoload: true,
            data: digitalShopRoles,
            inserting: true,
            deleteConfirm: "Bạn Có Chắc Muốn Xóa",
            reloadAfterSubmit: true,
            pageSize: 15,
            pageButtonCount: 5,
            controller: {
                insertItem: function (item) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Create","DigitalShopRole")',
                        data: item
                    }).done(function (respone) {
                        console.log(respone);
                        $.notify(respone.note, respone.messageType);
                        $("#searchButton").trigger('click');
                    });
                },
                updateItem: function (item) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Update","DigitalShopRole")',
                        data: item
                    }).done(function (respone) {
                        console.log(respone);
                        $.notify(respone.note, respone.messageType);
                    });
                },
                deleteItem: function (item) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","DigitalShopRole")',
                        data: item
                    }).done(function (respone) {
                        console.log(respone);
                        $.notify(respone.note, respone.messageType);
                        $("#searchButton").trigger('click');
                    });
                }
            },

            fields: [
                { name: "id", type: "number", title: "Id", with: 100, editing: false, inserting: false },
                { name: "digitalShopID", type: "select", title: "Shop Thương Mại Điện Tử", items: digitalShops, valueField: "id", textField: "name", with:300 },
                { name: "isAllow", type: "checkbox", title:"Truy Cập" , with:300 },
                { type: "control" }
            ]
        });
    }

    function onSearchUserDigitalShopRole() {
         $.ajax({
            type: 'GET',
            url: '@Url.Action("GetDigitalShopByUserID","DigitalShopRole")',
            data: {
                UserID: $("#UserID").children("option:selected").val(),
            },
            success: (respone) => {
                digitalShopRoles = respone;
                console.log(digitalShopRoles);
                renderGrid();
            }
        });
    }

    function onInitDigitalShopRole() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("InitializeUserDigitalShopRole","DigitalShopRole")',
            data: {
                UserID: $("#UserID").children("option:selected").val()
            },
            success: (respone) => {
                digitalShopRoles = respone;
                console.log(digitalShopRoles);
                renderGrid();
            }
        });
    }

    function onSaveChange() {
        console.log(document.getElementById('checkboxPrimary3').checked);
        $.ajax({
            type: 'POST',
            datatype: "JSON",
            url: '@Url.Action("SaveChange","DigitalShopRole")',
            data: {
                userDigitalShopRoles: digitalShopRoles,
                isAllowAll: document.getElementById('checkboxPrimary3').checked,
            },
            success: (respone) => {
                serviceTicketRoles = respone;
                console.log(serviceTicketRoles);
                $("#searchButton").trigger('click');
            }
        });
    }
</script>
